body {
	padding-top: 50px;
  color: #323A8B;
}

#btnPesquisar{
  /*background-color: #323A8B;*/
}

.barra_titulo {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 12px;
  position: relative;
}

.barra_titulo .navbar-inner {
  margin: -1px;
}

.barra_titulo .container {
  background-color: #820D06;
  width: 100%;
  overflow: hidden;
}

.barra_titulo .navbar-header img {
}

.barra_titulo .brand {
  position: relative;
}
.barra_titulo .titulo { 
  position: absolute; 
  top: 5px; 
  left: 0; 
  width: 100%; 
  vertical-align: bottom;
  
  text-align: left;
  color: white; 
  font-size: 32px; 
  font-weight: lighter;
  letter-spacing: -1px;  
  padding: 10px; 
}

.brand {
	padding: 0;
	margin: 0;
}

.navbar-default {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

.navbar-default .navbar-inner {
	background-color: #ebebeb;
}

.navbar-default .navbar-brand {
	color: #313c8b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #cc2129;
}
.navbar-default .navbar-text {
	color: #313c8b;
}
.navbar-default .navbar-nav > li > a {
	color: #313c8b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #cc2129;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #cc2129;
	background-color: #ebebeb;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #cc2129;
	background-color: #ebebeb;
}
.navbar-default .navbar-toggle {
	border-color: #ebebeb;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ebebeb;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #313c8b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #313c8b;
}
.navbar-default .navbar-link {
	color: #313c8b;
}
.navbar-default .navbar-link:hover {
	color: #cc2129;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #313c8b;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #cc2129;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #cc2129;
		background-color: #ebebeb;
	}
}

/* 
.btn custom
*/
.btn-soul { 
  color: #FFFFFF; 
  background-color: #323A8B; 
  border-color: #323A8B; 
} 
 
.btn-soul:hover, 
.btn-soul:focus, 
.btn-soul:active, 
.btn-soul.active, 
.open .dropdown-toggle.btn-soul { 
  color: #FFFFFF; 
  background-color: #323A8B; 
  border-color: #323A8B; 
} 
 
.btn-soul:active, 
.btn-soul.active, 
.open .dropdown-toggle.btn-soul { 
  background-image: none; 
} 
 
.btn-soul.disabled, 
.btn-soul[disabled], 
fieldset[disabled] .btn-soul, 
.btn-soul.disabled:hover, 
.btn-soul[disabled]:hover, 
fieldset[disabled] .btn-soul:hover, 
.btn-soul.disabled:focus, 
.btn-soul[disabled]:focus, 
fieldset[disabled] .btn-soul:focus, 
.btn-soul.disabled:active, 
.btn-soul[disabled]:active, 
fieldset[disabled] .btn-soul:active, 
.btn-soul.disabled.active, 
.btn-soul[disabled].active, 
fieldset[disabled] .btn-soul.active { 
  background-color: #323A8B; 
  border-color: #323A8B; 
} 
 
.btn-soul .badge { 
  color: #323A8B; 
  background-color: #FFFFFF; 
}